body {
    background: url('../img/fon2.png');
}
.chat {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;

&__text {
    max-width: 500px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: column-reverse;
}
&__bottom {
    background: rgb(102, 255, 255);
    max-width: 500px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
&__input-text {
    width: 85%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 10px;

}
&__button-submit {
    width: 35px;
    max-height: 35px;
    background: url('../img/enter.png');
    margin-left: 10px;
    cursor: pointer;
}
&__message {
    border-radius: 10px;
    color: white;
    background: rgb(51, 204, 255);
    margin: 10px 10px;
    padding: 5px;
    width: 50%;
}
}
input {
    outline:none;
}
input:active {
    outline:none;
}
input:focus {
    outline:none;
}
.chat__input {
    max-width: 500px;
    display: flex;
}

